*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    height: 100%;
    background-color: deeppink;
    color: black;
    display: inline-block;
}

.titulo{
    display:inline;
    margin: 400px;
    padding: 80px;
   
    }

.nav{
    background-color: dimgrey;
    text-align: center;
    padding: 20px;
}
.link{
    color:white;
    margin: 0 15px 0 30px;
    text-decoration: none;
}
.dl{
    background-color: rgb(247, 244, 244);
    width: 280px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
}
.tex{
    text-align: center;
}
.dl dd{
   text-align: center;
   color: darkgrey;
   margin: 0px 25px;
}
.main,.dl , .sec1{
    display: flex;
    min-height: 60vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;      
}
.np{
    display: flex;
    text-align: center;
}

.sec1{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    align-items: flex-start;
}
     

.art{
    background-color: darkseagreen;
    display:block;
    width: 480px;
    height: 350px;
    border: 1px solid grey;    
    text-align: center;
}

.art img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px 40px;
}

.art h4, h5, a{
    text-align: center;
    margin: 8px;
}

.art a{
    text-decoration: none;
    background-color: darkslategrey;
    color: beige;
    display: block;
    width: 100px;
    padding: 5px 8px;
    border-radius: 30px;
    text-align: center;
    margin: 3px auto;
}

.tabla{
    display: flex;
    padding: 150px;
  
    align-items: end;
    
 }
 .table,th,td{
     border: solid 1px black;
     border-collapse: collapse;
     padding: 10px;
     
 }
 .th,td{
     padding: 8px;
     
 }
 .thd{
     background-color: black;
     color: white;
 }
.h6{
    text-align: center;
    min-height: 20px;
    background-color: darkslategrey;
}